<!-- start custom footer snippets -->

<!-- Swiftype search bar -->

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','qd18JzHeeBxxMExmhWN1','2.0.0');
</script>


<!-- anchor-js for hover links on headers. https://github.com/bryanbraun/anchorjs -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.min.js"></script>
<script>
  var linker = new AnchorJS({
    placement: 'left',
    visible: 'hover'
  });
  linker.add();
</script>

<!-- end custom footer snippets -->