/* ==========================================================================
   These are Clayton's variables and customizations
   ==========================================================================
*/

body {
  background: $bodycolor url("/images/backgrounds/background_large-150x141.jpg") repeat center center;
	font-family: $base-font;
	color: $text-color;
}

/* ==========================================================================
   Note types
   ==========================================================================
*/

.note {
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  @include border-radius(0 5px 5px 0);
  position: relative;
  background-color: #b69e60;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b69e60), to(#887546));
  background-image: -webkit-linear-gradient(top, #b69e60 0%, #887546 100%);
  background-image: -moz-linear-gradient(top, #b69e60 0%, #887546 100%);
  background-image: -o-linear-gradient(top, #b69e60 0%, #887546 100%);
  background-image: linear-gradient(to bottom, #b69e60 0%,#887546 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69e60', endColorstr='#887546',GradientType=0 );
}

@media (max-width: 568px) {
  .note { margin-right: -30px; }
}

@media (min-width: 768px) {
  .note { margin-left: -50px; }
}

.note {
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #222 #222 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  h5,
  p {
    margin: 0;
    color: #000;
  }

  h5 {
    line-height: 1.5em;
    font-weight: 900;
    font-style: normal;
    font-size: 1.25em;
  }

  p {
    font-weight: 400;
    font-size: 1em;
  }

  &:after {
    content: '\2605';
    color: #fc0;
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  }
}

.info {
  background-color: #52b8db;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52b8db), to(#117ea0));
  background-image: -webkit-linear-gradient(top, #52b8db 0%, #117ea0 100%);
  background-image: -moz-linear-gradient(top, #52b8db 0%, #117ea0 100%);
  background-image: -o-linear-gradient(top, #52b8db 0%, #117ea0 100%);
  background-image: linear-gradient(to bottom, #52b8db 0%,#117ea0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b8db', endColorstr='#117ea0',GradientType=0 );
}

.warning {
  background-color: #e94a2b;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e94a2b), to(#b42d13));
  background-image: -webkit-linear-gradient(top, #e94a2b 0%, #b42d13 100%);
  background-image: -moz-linear-gradient(top, #e94a2b 0%, #b42d13 100%);
  background-image: -o-linear-gradient(top, #e94a2b 0%, #b42d13 100%);
  background-image: linear-gradient(to bottom, #e94a2b 0%,#b42d13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94a2b', endColorstr='#b42d13',GradientType=0 );
}

.info:before { border-color: transparent #117ea0 #117ea0 transparent; }

.warning:before { border-color: transparent #b42d13 #b42d13 transparent; }

.info:after {
  content: '\24D8';
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.warning:after {
  content: '\203C';
  color: #fc0;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* ==========================================================================
   Make my code blocks look awesome
   ==========================================================================
*/

pre.highlight {
	padding: 1em;
}

.highlight {
	background-color: #000;
	font-family: $code-font;
	@include font(12);
	color: #fff;
	margin-bottom: 1.5em;
	@include rounded(4px);
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
	.lineno { padding-right: 24px; color: #8f908a;}
	.hll { background-color: #49483e }
	.c { color: #75715e } /* Comment */
	.err { color: #960050; background-color: #1e0010 } /* Error */
	.k { color: #66d9ef } /* Keyword */
	.l { color: #ae81ff } /* Literal */
	.n { color: #f8f8f2 } /* Name */
	.o { color: #f92672 } /* Operator */
	.p { color: #f8f8f2 } /* Punctuation */
	.cm { color: #75715e } /* Comment.Multiline */
	.cp { color: #75715e } /* Comment.Preproc */
	.c1 { color: #75715e } /* Comment.Single */
	.cs { color: #75715e } /* Comment.Special */
	.ge { font-style: italic } /* Generic.Emph */
	.gs { font-weight: bold } /* Generic.Strong */
	.kc { color: #66d9ef } /* Keyword.Constant */
	.kd { color: #66d9ef } /* Keyword.Declaration */
	.kn { color: #f92672 } /* Keyword.Namespace */
	.kp { color: #66d9ef } /* Keyword.Pseudo */
	.kr { color: #66d9ef } /* Keyword.Reserved */
	.kt { color: #66d9ef } /* Keyword.Type */
	.ld { color: #e6db74 } /* Literal.Date */
	.m { color: #ae81ff } /* Literal.Number */
	.s { color: #e6db74 } /* Literal.String */
	.na { color: #a6e22e } /* Name.Attribute */
	.nb { color: #f8f8f2 } /* Name.Builtin */
	.nc { color: #a6e22e } /* Name.Class */
	.no { color: #66d9ef } /* Name.Constant */
	.nd { color: #a6e22e } /* Name.Decorator */
	.ni { color: #f8f8f2 } /* Name.Entity */
	.ne { color: #a6e22e } /* Name.Exception */
	.nf { color: #a6e22e } /* Name.Function */
	.nl { color: #f8f8f2 } /* Name.Label */
	.nn { color: #f8f8f2 } /* Name.Namespace */
	.nx { color: #a6e22e } /* Name.Other */
	.py { color: #f8f8f2 } /* Name.Property */
	.nt { color: #f92672 } /* Name.Tag */
	.nv { color: #f8f8f2 } /* Name.Variable */
	.ow { color: #f92672 } /* Operator.Word */
	.w { color: #f8f8f2 } /* Text.Whitespace */
	.mf { color: #ae81ff } /* Literal.Number.Float */
	.mh { color: #ae81ff } /* Literal.Number.Hex */
	.mi { color: #ae81ff } /* Literal.Number.Integer */
	.mo { color: #ae81ff } /* Literal.Number.Oct */
	.sb { color: #e6db74 } /* Literal.String.Backtick */
	.sc { color: #e6db74 } /* Literal.String.Char */
	.sd { color: #e6db74 } /* Literal.String.Doc */
	.s2 { color: #e6db74 } /* Literal.String.Double */
	.se { color: #ae81ff } /* Literal.String.Escape */
	.sh { color: #e6db74 } /* Literal.String.Heredoc */
	.si { color: #e6db74 } /* Literal.String.Interpol */
	.sx { color: #e6db74 } /* Literal.String.Other */
	.sr { color: #e6db74 } /* Literal.String.Regex */
	.s1 { color: #e6db74 } /* Literal.String.Single */
	.ss { color: #e6db74 } /* Literal.String.Symbol */
	.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
	.vc { color: #f8f8f2 } /* Name.Variable.Class */
	.vg { color: #f8f8f2 } /* Name.Variable.Global */
	.vi { color: #f8f8f2 } /* Name.Variable.Instance */
	.il { color: #ae81ff } /* Literal.Number.Integer.Long */
}



/* ==========================================================================
   Collapsable content
   http://stackoverflow.com/questions/15095933/pure-css-collapse-expand-div
   http://jsfiddle.net/thurstanh/emtAm/2/
   ==========================================================================
*/


 summary::-webkit-details-marker {
 color: #00ACF3;
 font-size: 100%;
 margin-right: 2px;
}
summary:focus {
	outline-style: none;
}
article > details > summary {
	font-size: 100%;
	margin-top: 16px;
}
details > p {
	margin-left: 24px;
}
details details {
	margin-left: 36px;
}
details details summary {
	font-size: 16px;
}


