<!-- Some code borrowed from: https://github.com/natefinch/npf/blob/f91b23b9a9d362780c245f05c5a2be56e36d34f1/layouts/section/blog.html#L8-L12 -->
{{ partial "head" . }}
<section id="main-content" class="container main_content section">
  <header class="container">
    {{ partial "bloc/content/h1-title" . }}
  </header>
  <ul class="posts">
    {{ range .Data.Pages }}
    <li>
      <span>
        {{if .Draft}}[draft] {{end}}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <time class="pull-right post-list">{{ .Date.Format "Jan 2, 2006" }}</time>
      </span>
    </li>
    {{ end }}
  </ul>
</section>
{{ partial "foot" . }}
