{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ site.Params.description | plainify | truncate 180 | jsonify }}
}
</script>
{{- else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify }},
  "description": {{ with .Description }}{{ . | plainify | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "articleBody": {{ .Content | htmlUnescape | plainify | jsonify }},
  "wordCount": {{ .WordCount }},
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify }},
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }}
  }
}
</script>
{{- end }}
